<!-- Container for demo purpose -->
<div class="container my-5 mx-auto">
  <!-- Section: Design Block -->
  <section class="mb-5 text-center text-lg-start">
    <style>
      @media (min-width: 992px) {
        .rotate-lg-6 {
          transform: rotate(6deg);
        }
      }
    </style>

    <div class="py-5 px-3 px-lg-5">
      <div class="container-xl">
        <div class="row g-0 align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <div
              class="bg-light p-5 rounded shadow-md-md-lg-14 bg-blur-lg dark:bg-dark shadow-md"
            >
              <h2 class="mb-4 fs-4 fw-bold text-dark">{{ name }}</h2>
              <p class="mb-4 text-dark">
                {{ description }}
              </p>
            </div>
          </div>

          <div class="col-md-6">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/ecommerce/vertical/121.jpg"
              class="imagen"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
